@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --red: 216, 58, 58;
    --blue: 89, 126, 230;
    --green: 67, 172, 58;
    --purple: 148, 93, 211;
    --yellow: 226, 238, 52;
    --orange: 241, 170, 14;
    --moon: 113, 210, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* -- Shapes -- */
.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: rgb(var(--orange));
}

.square {
    height: 2rem;
    width: 2rem;
    border-radius: 10%;
    background: rgb(var(--red));
}

.triangle {
    height: 2rem;
    width: 2rem;

    &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 0 1rem 2rem 1rem;
        border-color: transparent transparent rgb(var(--green)) transparent;
    }
}

.diamond {
    height: 2rem;
    width: 2rem;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 0 1rem 1rem 1rem;
        border-color: transparent transparent rgb(var(--purple)) transparent;
    }
    &::after {
        border-width: 1rem 1rem 0 1rem;
        border-color: rgb(var(--purple)) transparent transparent transparent;
    }
}

.moon {
    width: 2rem;
    height: 2rem;

    &::after {
        content: '';
        display: block;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        box-shadow: 0.2rem 0.2rem 0 0 rgb(var(--moon));
    }
}